{% extends '@AppFront/layout.html.twig' %}

{% block metaTitle %}{% spaceless %}
    Edcyja pojazdu - {{ parent() }}
{% endspaceless %}{% endblock %}

{% block content %}
    <div class="col-md-2 col-sm-12">
        {% include '@AppFront/Agent/Profile/partials/nav.html.twig' %}
    </div>
    <div class="col-md-10 col-sm-12">
        <h1 class="text-center pageHeader">Edycja pojazdu</h1>
        <div class="panel panel-success">
            <div class="panel-heading">Dane pojazdu</div>
            <div class="panel-body">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <div class="form-group">
                    <br/>
                    <button type="submit" name="submit" class="btn btn-success btn-lg"><i
                                class="fa fa-save"></i> {{ 'Save'|trans }}</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include '@AppFront/Agent/Car/partials/formActions.html.twig' %}
{% endblock %}
