{% extends '@AppFront/layout.html.twig' %}

{% block metaTitle %}{% spaceless %}
    Zaloguj sie - {{ parent() }}
{% endspaceless %}{% endblock %}

{% block content %}
    <div class="col-md-6 col-md-push-3 col-sm-12">
        <h1 class="text-center">Zaloguj sie jako agent</h1>
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <form action="{{ path('app_user_agent_login_check') }}" method="post" role="form">
            <fieldset>
                <div class="form-group">
                    <input class="form-control" id="username" name="_username"
                           value="{{ last_username }}" placeholder="Nazwa uzytkownika" autofocus>
                </div>
                <div class="form-group">
                    <input class="form-control" placeholder="Haslo" name="_password" type="password"
                           value="">
                </div>
                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >
                <button type="submit" class="btn btn-lg btn-success btn-block">Zaloguj sie</button>
            </fieldset>
        </form>
    </div>
{% endblock %}
