{% extends '@AppFront/layout.html.twig' %}

{% block metaTitle %}{% spaceless %}
    {% if page %}{% if page.translate.seoTitle is defined %}{{ page.translate.seoTitle }} : {% endif %}{{ parent() }}{% else %}{{ parent() }}{% endif %}
{% endspaceless %}{% endblock %}

{% block metaDescription %}{% spaceless %}
    {% if page %}{% if page.translate.seoDescription is defined %}{{ page.translate.seoDescription }}, {% endif %}{% endif %}{{ parent() }}
{% endspaceless %}{% endblock %}

{% block seoKeywords %}{% spaceless %}
    {% if page %}{% if page.translate.seoKeywords is defined %}{{ page.translate.seoKeywords }}, {{ parent() }}{% endif %}{% endif %}{{ parent() }}
{% endspaceless %}{% endblock %}

{% block content %}
    <div class="col-lg-12 text-center">
        {% if page is defined and page %}
            {{ page.translate.description|raw }}
        {% endif %}

        <div class="col-md-6 col-sm-12 col-md-push-3 text-center">
            <h4 class="pull-center text-center">Sprawdź auto po numerze VIN</h4>
            <form class="form pull-center">
                <div class="form-group">
                    <input pattern="^[A-HJ-NPR-Z0-9]{17}$" title="Wprowadzony numer VIN jest niepoprawny!" value="{{ app.request.get('vinNumber') }}" name="vinNumber" type="text"
                           class="form-control text-center" id="vin" placeholder="Numer VIN szukanego pojazdu">
                </div>
                <div class="form-group">
                    <p class="text-center">lub po</p>
                    <input value="{{ app.request.get('policyNumber') }}" name="policyNumber" type="text"
                           class="form-control text-center" id="policyNumber" placeholder="Aktualny numer polisy">
                </div>
                <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> Sprawdź</button>
            </form>
        </div>
        <div class="clearfix"><br/><br/></div>
        {% if app.request.get('vinNumber') or app.request.get('policyNumber') %}
            {% if app.request.get('vinNumber') %}
                <h3>Informacje o aucie z numerem VIN: <strong>{{ app.request.get('vinNumber') }}</strong></h3>
            {% else %}
                <h3>Informacje o aucie z numerem polisy: <strong>{{ app.request.get('policyNumber') }}</strong></h3>
            {% endif %}
            <div class="col-md-8 col-sm-12 col-md-push-2">
                {% if cars is defined and cars|length > 0 %}
                    {% if cars|length == 1 %}
                        {% include '@AppFront/Default/car.html.twig' with {car: cars[0]} %}
                    {% else %}
                        <p class="text-danger text-center">(znaleziono {{ cars|length }} pojazdów)</p>

                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            {% for car in cars %}
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading{{ loop.index0 }}">
                                        <h4 class="panel-title">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ loop.index0 }}" aria-expanded="true" aria-controls="collapse{{ loop.index0 }}">
                                                {{ car.manufacturer.name }}
                                                {% if car.model %}
                                                    -> {{ car.model.name }}
                                                {% endif %}
                                                {% if car.modelTrim %}
                                                    -> {{ car.modelTrim.name }}
                                                {% endif %}
                                                {{ car.yearOfManufacture }}r.
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse{{ loop.index0 }}" class="panel-collapse collapse {{ loop.index0 == 0 ? 'in' : '' }}" role="tabpanel" aria-labelledby="heading{{ loop.index0 }}">
                                        <div class="panel-body">
                                            {% include '@AppFront/Default/car.html.twig' with {car: car} %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% else %}
                    <br/>
                    <p class="text-center text-danger"><strong>Nie znaleziono takiego pojazdu.</strong></p>
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock %}
